{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %}
	New User
{% endblock %}

{% block breadcrumb %}
	/ <i class="fa fa-fw fa-edit"></i>Requests
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-6"><a class="btn btn-default" href="{% url 'request:register' %}"><i class="fa fa-floppy-o"></i> New</a></div>
	</div><br>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Equipment</th>
				<th>Description</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for request in object_list %}
			<tr>
				<td>{{ request.id }}</td>
				<td>{{ request.equipment }}</td>
				<td>{{ request.description }}</td>
				<td>
					{% if request.status == 'realized' %}
						<span class="label label-primary">Realized</span>
					{% elif request.status == 'pending' %}
						<span class="label label-success">Pending</span>
					{% elif request.status == 'delayed' %}
						<span class="label label-warning">Delayed</span>
					{% elif request.status == 'canceled' %}
						<span class="label label-danger">Canceled</span>
					{% endif %}
				</td>
				<td>
					{% if request.status == 'delayed' or request.status == 'pending' %}
						<a href="" title="Cancel Request"><i class="fa fa-times"></i></a>
					{% endif %}
						<a href="" title="View Details Request"><i class="fa fa-eye"></i></a>
						<a href="" title="Mark With Realized"><i class="fa fa-check"></i></a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}